<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <title><%= content_for :page_title %></title>
  </head>
  <body>
    <div id="telaTopo">
      <div id="topo">
        <div id="info">
          <ul>
            <li class="cartolla"><a href="#">Cartolla</a></li>
            <li class="contato"><a href="#">Contato</a></li>
          </ul>
        </div>
        <div id="marca"><a href="#" title="Cartolla" alt="marca cartolla"><%= image_tag "/images/marca-cartolla.png", border: "0" %></a></div>
        <div id="usuario">
          <ul>
            <% if user_signed_in? %>
              <li class="lista"><%= link_to 'Minha lista de desejos', user_wishes_path(current_user.id) %></li>
              <li class="login"><%= link_to current_user.email, destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li class="cadastro"><a href="<%= new_user_registration_path %>">Cadastro</a></li>
              <li class="login"><a href="<%= root_path %>">Login</a></li>
            <% end %>
          </ul>
        </div>
        <div id="banner"><%= image_tag "/images/banner-cartolla.png", width: "794", height: "175" %></div>
      </div>
    </div>
    <div id="telaConteudo">
      <div id="conteudo">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>

        <%= yield %>

      </div>
    </div>
    <div id="telaRodape">
      <div id="rodape">
        <p>Copyright ©2011 Cartolla</p>
        <div id="midias">
          <ul>
            <li><a href="#"><%= image_tag "/images/icn-twitter.png"  %></a></li>
            <li><a href="#"><%= image_tag "/images/icn-facebook.png" %></a></li>
            <li><a href="#"><%= image_tag "/images/icn-gPlus.png"    %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
